@import './base';

.App {
    display: grid;
    align-items: center;
    background-color: $light;
    grid-template-columns: 250px 1fr;
    overflow: hidden;
    
    .navbar {
        grid-column: 1/2;
        height: 100%;
        background-color: $dark;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        
        .navbar__figure {
            width: 150px;
            margin: 20px;
            cursor: default;
            
            * {
                color: $light;
                text-align: center;
            }
            
            div {
                display: flex;
                justify-content: center;
                
                * {
                    font-size: 30px;
                    margin: 5px 5px 0 5px;
                }
            }
            
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        
        .navbar__nav {
            align-self: flex-end;
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            
            li {
                flex-basis: 100%;
                padding: 5px 30px;
                cursor: pointer;
                font-size: 16px;
                text-align: left;
                color: $light;
            }
        }
    }
    
    main {
        overflow-y: scroll;
        grid-column: 2/3;
        height: 100vh;
    
        &::-webkit-scrollbar {
            width: 8px;
            background: linear-gradient($dark,  $darkPink);
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #1aa7b78c;
            border-radius: 3px;
        }
        
    }
    
    section {
        min-height: 80vh;
        width: 100%;
        
        .section__header  {
            font-size: 45px;
            font-weight: lighter;
            text-align: center;   
            padding: 20px;
            color: $dark;
        }
    }
    
    .sections__header {
        display: grid;
        align-items: center;
        justify-content: center;
        
        .header__introduce {
            *{
                font-weight: lighter;
                color: rgb(51, 50, 50);
            }
            
            h1 {
                font-size: 50px;
                
                b {
                    font-size: 50px;
                    font-weight: normal;
                }
            }
            
            h2 {
                font-size: 45px;
            }
        }
    }
}


@media (max-width: 1000px) {
    .App {
        overflow: auto;
        
        .navbar {
            grid-column: 1/3;
            justify-content: center;
            
    
            
            .navbar__nav {
                display: none;
            }
        }
        
        main {
            overflow-y: hidden;
            grid-column: 1/3;
            min-height: 100vh;
            height: max-content;
            
            .section {
                min-height: 100vh;
            }
        }  
    }
}

